body{
    font-family: Marriweather;
    background-color: black;
    color: white;
    
}

header {
    max-width: 1200px;
    margin: 0 auto;
    background-image: linear-gradient( rgba(0,0,0,0.1), rgba(0,0,0,0.7)), url("/media/main-background.png");
    background-size: cover;
    background-position: center;
    padding: 90px 0px;
    text-align: center;
}

h1 {
    color: white;
    font-size: 120px;
    margin-bottom: 0px;
   
}

h2 {
    color: white;
    font-size: 25px;
    margin-top: 0px;
}

h3 {
    margin-top: 0;
    font-size: 40px;
}

h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
}

main {
    background-color: rgba(31, 31, 31, 0.885);
}

section {
    margin: 0 auto;
    padding: 60px 0;
    max-width:1200px;
}

footer {
    background-image: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url("media/roman-incision.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin: 0 auto;
}

footer a {
    color: rgba(255, 255, 255, 0.498);
    text-decoration: none;
}

footer a:hover {
    color: white;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
    padding: 6px 0;
    font-size: 15px;
    
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-gap: 60px;
    padding: 50px;
}

.grid-2-col {
    grid-template-columns: 1fr 1fr;
}

.grid-3-col {
    grid-template-columns: 1fr 1fr 1fr;
}

.romolo-remo-img {
    max-width: 100%;    
}

.grid-p {
    margin-top: 30px;
}

.grid-3-col-photo-gallery {
    grid-template-columns: 1fr 1fr 1fr;
}

.photo-gallery-img {
    max-width: 100%;
}

.roma-map {
    max-width: 1200px;
}

@media (max-width: 960px) {
    header {
        padding: 40px 0px;

    }
    
    h1 {
        font-size: 60px;
        margin-bottom: 0px;
       
    }
    
    h2 {
        font-size: 15px;
        margin-top: 0px;
    }

    h3 {
        margin-top: 0;
        font-size: 20px;
    }

    .grid {
        display: grid;
        grid-gap: 30px;
        padding: 25px;
    }

    .grid-2-col {
        grid-template-columns: 1fr;
    }

    .grid-3-col {
        grid-template-columns: 1fr;
    }
    
    .romolo-remo-img {
        max-width: 100%;    
    }
    
    .grid-p {
        margin-top: 0px;
    }

    .grid-3-col-photo-gallery {
        grid-template-columns: 1fr 1fr;
    }

    
}