body{
    font-family: Marriweather;
    background-color: black;
    color: white;
    
}

header {
    max-width: 1200px;
    margin: 0 auto;
    background-image: linear-gradient( rgba(0,0,0,0.1), rgba(0,0,0,0.7)), url("/media/main-background.png");
    background-size: cover;
    background-position: center;
    padding: 90px 0px;
    text-align: center;
}

h1 {
    color: white;
    font-size: 100px;
    margin-bottom: 0px;
   
}

h2 {
    color: white;
    font-size: 25px;
    margin-top: 0px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.legend-container {
    display: grid;
    grid-template-columns: 1px 2px;

}


.romolo-remo-img {
    max-width: 300px;
}

.photo-gallery {
    display: grid;
    grid-template-columns: 1px 1px 1px;
}

.photo-gallery-img {
    display: block;
    margin: 0 auto;
    max-width: 100px;
}

@media (max-width: 700px) {
    header {
        margin: 0 auto;
        background-image: linear-gradient( rgba(0,0,0,0.1), rgba(0,0,0,0.7)), url("/media/main-background.png");
        background-size: cover;
        background-position: center;
        padding: 40px 0px;
        text-align: center;
    }
    
    h1 {
        color: white;
        font-size: 60px;
        margin-bottom: 0px;
       
    }
    
    h2 {
        color: white;
        font-size: 15px;
        margin-top: 0px;
    }
}